@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
body,
section {
  margin: 0;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #e5e5e5;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: auto;
}

.logo {
  position: absolute;
  width: 64px;
  height: 18px;
  top: -58px;
}

.icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -58px;
}
.icon.lock {
  left: 77px;
}
.icon.user {
  left: 108px;
}

#log-in {
  width: 400px;
  height: 200px;
  background-color: #fff;
}

#log-in-area {
  position: absolute;
  top: 30px;
  left: 25px;
  width: 350px;
  height: 140px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px #dbdbdb solid;
}

.login-text {
  position: absolute;
  top: 20px;
  left: 16px;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.02px;
}

.btn-group2 {
  display: inline-block;
  position: absolute;
  width: 133px;
  height: 16px;
  top: 106px;
  left: 16px;
}

.btn-group2 .icon.lock {
  position: absolute;
  top: 0px;
  left: 0px;
}
.btn-group2 a,
p {
  display: inline-block;
  color: #767676;
  vertical-align: top;
  line-height: 15px;
  font-size: 12px;
}

.find-idfw-area {
  position: absolute;
  width: 113px;
  height: 15px;
  left: 20px;
  top: 1px;
}

.btn-group3 {
  display: inline-block;
  position: absolute;
  width: 65px;
  height: 16px;
  top: 106px;
  left: 269px;
}
.btn-group3 a {
  position: absolute;
  width: 45px;
  height: 15px;
  left: 20px;
  top: 1px;
  color: #767676;
  vertical-align: top;
  line-height: 15px;
  font-size: 12px;
}

.btn-group3 .icon.user {
  position: absolute;
  top: 0px;
  left: 0px;
}

.login-button {
  position: absolute;
  width: 318px;
  height: 40px;
  left: 16px;
  top: 50px;
  background: #711bff;
  border-radius: 4px;
}

.btn-group1 {
  position: absolute;
  width: 102px;
  height: 18px;
  left: 108px;
  top: 10px;
}
.login-btn-text {
  position: absolute;
  top: 3px;
  left: 68px;
  display: inline-block;
  width: 34px;
  height: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
}

.login-btn-img {
  position: absolute;
  display: inline-block;
  width: 64px;
  height: 18px;
  left: 0px;
  top: 0px;
}

.login-button:hover {
  background-color: #5314b8;
}
